.circuitWrap {
  position: relative;
}

.pulsingCircuit {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 0;
}

.pulseLayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;

  background-color: rgba(255, 182, 193, 0.7);
  background-size: 100% 100%;
  animation: pulseGlow 3s infinite ease-in-out;

  mask-image: url('/CircuitBoardLanes.svg');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;

  -webkit-mask-image: url('/CircuitBoardLanes.svg');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  -webkit-mask-position: center;
}

@keyframes pulseGlow {
  0%   { background-size: 100% 100%; opacity: 0.4; }
  50%  { background-size: 300% 300%; opacity: 0.8; }
  100% { background-size: 100% 100%; opacity: 0.4; }
}


.laneMask {
  opacity: 0;
  z-index: 0;
}

.codeAnim {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

.mockIDE {
  position: absolute;
  z-index: 1;
}

.summarySection {
  h1 {
    font-size: 27px;
    margin-bottom: 0.75em;
  }
}

.fanOutContainer {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.chip {
  position: absolute;
  width: 48px;
  height: 48px;
  background-color: #f9a8d4; // pink-300
  border-radius: 9999px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  display: flex;
  align-items: center;
  justify-content: center;
}

.chipIcon {
  width: 24px;
  height: 24px;
  color: white;

}

