.role-list div div ul:first-child {
    list-style-type: disc;
    padding: 1em 0 1em 1em;
}

.section-header {
    font-size: 32px;
}

.section-divider {
    height: 10px;
    width: 100px;
    background-color: white;
}