.roleList div div ul:first-child {
    list-style-type: disc;
    padding: 1em 2em;
}

.sectionHeader {
    font-size: 32px;
}

.sectionDivider {
    height: 10px;
    width: 100px;
    background-color: white;
}