$avatar-size: 300px;

.animatedAvatar {
    color: blue;
    background-color: white;
    min-width: $avatar-size;
    height: $avatar-size;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    background-color: #ffdce2;
}