@mixin nav-mobile {
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 64px);
    opacity: 1;
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    visibility: hidden;
    pointer-events: none;
}

nav.nav-bar {
    width: 100vw;
    min-height: 64px;
    position: fixed;
    top: 0;
    display: flex;
    z-index: 99;
    background-color: black;

    .icon-toggle {
        position: relative;
        width: 24px;
        height: 24px;

        svg {
            position: absolute;
            top: 0;
            left: 0;
            transition: opacity 0.2s ease;
        }

        .hidden {
            opacity: 0;
            pointer-events: none;
        }

        .visible {
            opacity: 1;
            pointer-events: auto;
        }
    }

    > div {
        display: flex;

        @media (width >= 768px) {
            justify-content: space-between;
        }
    }

    > div:first-child {
        height: 68px;
        display: none;

        @media (width <= 768px) {
           display: flex;
        }
    }

    > div:nth-child(2) {
        transition: opacity 300ms ease, visibility 300ms ease;
        background-color: black;
        display: flex;
        flex-grow: 1;
        align-items: center;

        @media (width <= 768px) {
            @include nav-mobile;
        }

    }

    ul {
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;

        @media (width <= 768px) {
            flex-direction: column;
        }

        li {
            a {
                padding: 6px 8px;
                text-transform: uppercase;
                display: flex;
                cursor: pointer;
                border-radius: 5px;
                margin-right: 10px;
                text-align: center;

                img {
                    margin-right: 6px;
                }

                p {
                    line-height: 17px;
                    margin-top: 3px;
                    font-weight: bold;
                }

                &:hover {
                    background-color: grey;
                }
            }

            @media (width <= 768px) {
                margin-bottom: 2em;
            }
        }
    }

    &.menu-open {
        > div:nth-child(2) {
            // must be set BEFORE the transition begins
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
            transition: opacity 300ms ease, visibility 300ms ease;
        }
    }
}

.nav-icon {
    margin-top: -2px;
    margin-right: 0.75rem;
}

/* .menu-open > div {
    display: flex;
    // margin-top: 64px;
    position: absolute;
} */

/* .nav-bar > div {
    width: 1300px;
    // display: flex;
    justify-content: space-between;
    flex-direction: column;
} */