@use 'SpaceShuttle';
@use 'Clouds';
@use 'Moon';
@use 'Mountains';

.background-anim {
  @media (width <= 1280px) {
    --hero-title: 3.5rem;
    --hero-dev-title-line-height: 5rem;
    --hero-subtitle: 1.4rem;
  }

  @media (width <= 1024px) {
    --hero-title: 3rem;
    --hero-dev-title-line-height: 5rem;
    --hero-subtitle: 1.3rem;
  }

  @media (width <= 768px) {
    --hero-title: 2.5rem;
    --hero-dev-title: 3.25rem;
    --hero-dev-title-line-height: 4rem;
    --hero-subtitle: 1.2rem;
  }

  @media (width <= 640px) {
    --hero-title: 1.75rem;
    --hero-dev-title: 2.35rem;
    --hero-dev-title-line-height: 3rem;
    --hero-subtitle: 1.25rem;
  }

  @media (width <= 480px) {
    --hero-title: 1.75rem;
    --hero-dev-title: 2.25rem;
    --hero-dev-title-line-height: 3rem;
    --hero-subtitle: 1.25rem;
  }

  @media (width <= 395px) {
    --hero-dev-title: 2.3rem;
  }

  @media (width <= 375px) {
    --hero-dev-title: 2.2rem;
  }

  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #0d006a 0%, #000 77%) no-repeat;
  background-size: cover;
}

