@use '../_styles/_media' as *;

$cloudsTop: url('/CloudsTopFramed.svg');
$cloudsBottomBackground: url('/CloudsBottomBackground.svg');
$cloudsBottomForeground: url('/CloudsBottomForground.svg');

$scrollCloudsBottom: scrollClouds 200s linear infinite;
$cloudsBottomPadding: 8.5em;

@keyframes scrollClouds {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100vw * var(--distance-multiplyer)));
  }
}

.cloudsTop {
  --scale: 1;

  --clouds-top-width-base: 200vw;
  --clouds-top-width: calc(var(--clouds-top-width-base) * var(--scale));

  @include media-down(xl) {
    --scale: 1.5;
  }

  @include media-down(lg) {
    --scale: 2;
  }

  @include media-down(md) {
    --scale: 2.5;
  }

  @include media-down(sm) {
    --scale: 2.8;
  }

  @include media-down(xs) {
    --scale: 3;
  }

  position: absolute;
  width: var(--clouds-top-width);
  height: 100%;
  display: flex;
  top: 0;
  left: 0;
  animation: scrollClouds 70s linear infinite;

  > div {
    background-image: $cloudsTop;
    background-repeat: repeat-x;
    background-size: 100%;
    width: 50%;
    height: 20em;
    margin-top: 80px;
  }
}

.cloudsBottomBackground,
.cloudsBottomForeground {
  --scale: 1;

  --clouds-bot-width-base: 200vw;
  --clouds-bot-foreground-width: calc(var(--clouds-top-width-base) * var(--scale));

  @include media-down(xl) {
    --scale: 1.5;
  }

  @include media-down(lg) {
    --scale: 2;
  }

  @include media-down(md) {
    --scale: 2.5;
  }

  @include media-down(sm) {
    --scale: 2.8;
  }

  @include media-down(xs) {
    --scale: 3;
  }

  position: absolute;
  width: calc(200vw * var(--distance-multiplyer));
  height: auto;
  display: flex;
  bottom: 13em;
  left: 0;
  animation: $scrollCloudsBottom;
  will-change: transform;

  > div {
    background-repeat: repeat-x;
    background-size: 100%;
    width: 50%;
    height: 7.5em;
  }
}

.cloudsBottomBackground {
  > div {
    background-image: $cloudsBottomBackground;
  }
}

.cloudsBottomForeground {
  > div {
    background-image: $cloudsBottomForeground;
  }
}