@use '../_styles/_media' as *;

.moonIMG {
  --scale: 0.75;

  height: auto;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 6em;

  --moonImgSizeBase: 12rem;
  --moonImgSize: calc(var(--moonImgSizeBase) * var(--scale));

  @include media-down(xl) {
    --scale: 0.75;
  }

  @include media-down(lg) {
    --scale: 0.7;
  }

  @include media-down(md) {
    --scale: 0.7;
  }

  @include media-down(sm) {
    --scale: 0.75;
  }

  @include media-down(xs) {
    --scale: 1;
  }

  > div {
    display: flex;
    justify-content: flex-end;
  }

  @media (min-width: 768px) {
    padding-top: 18em;

    > div > img {
      width: var(--moonImgSize);
      height: var(--moonImgSize);
    }
  }
}