@use '../_styles/media' as *;

.moon-img {
  --scale: 0.75;

  height: auto;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 6em;

  --moon-img-size-base: 12rem;
  --moon-img-size: calc(var(--moon-img-size-base) * var(--scale));

  @include media-down(xl) {
    --scale: 0.75;
  }

  @include media-down(lg) {
    --scale: 0.7;
  }

  @include media-down(md) {
    --scale: 0.7;
  }

  @include media-down(sm) {
    --scale: 0.75;
  }

  @include media-down(xs) {
    --scale: 1.5;
  }

  > div {
    display: flex;
    justify-content: flex-end;
  }

  @media (width >= 768px) {
    padding-top: 18em;

    > div > img {
      width: var(--moon-img-size);
      height: var(--moon-img-size);
    }
  }
}