.mountainRange {
  display: block;
  height: 100%;
  width: 1500px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  @media (max-width: 1280px) {
    width: 100%;
  }

  @media (max-width: 1024px) {
    width: 200%;
  }

  @media (max-width: 768px) {
    width: 200%;
  }

  @media (max-width: 640px) {
    width: 300%;
    left:125%;
  }

  @media (max-width: 480px) {
    width: 300%;
    left:125%;
  }
}

.mountainRangeImg {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 0;
}

.mountainRangeIMG {
  z-index: -1;
}