@use 'SpaceShuttle';
@use 'Clouds';
@use 'Moon';
@use 'Mountains';

.backgroundAnim {
  --shuttle-launch: 400px;
  --shuttle-launchFlamesSpread: 265px;
  --shuttle-launchFlames: 75px;
  --shuttle-elevator: 156px;
  --shuttle-elevatorBot: -10px;
  --shuttle-launchDistance: -400px;

  @media (max-width: 1280px) {
    --focus-width: 800px;
    --mnt-width: 100%;
    --distance-multiplyer: 1.5;

    --hero-title: 3.5rem;
    --hero-devTitleLineHeight: 5rem;
    --hero-subtitle: 1.4rem;

    --shuttle-launch: 300px;
    --shuttle-launchFlamesSpread: 127px;
    --shuttle-launchFlames: 50px;
    --shuttle-elevator: 117px;
    --shuttle-elevatorBot: -10px;
    --shuttle-launchDistance: -120px;
  }

  @media (max-width: 1024px) {
    --focus-width: 650px;
    --mnt-width: 200%;
    --distance-multiplyer: 2;

    --hero-title: 3rem;
    --hero-devTitleLineHeight: 5rem;
    --hero-subtitle: 1.3rem;

    --shuttle-launch: 200px;
    --shuttle-launchFlamesSpread: 127px;
    --shuttle-launchFlames: 50px;
    --shuttle-elevator: 77px;
    --shuttle-elevatorBot: -5px;
    --shuttle-launchDistance: -120px;
  }

  @media (max-width: 768px) {
    --focus-width: 500px;
    --mnt-width: 200%;
    --distance-multiplyer: 2.5;

    --hero-title: 2.5rem;
    --hero-devTitle: 3.25rem;
    --hero-devTitleLineHeight: 4rem;
    --hero-subtitle: 1.2rem;

    --shuttle-launch: 200px;
    --shuttle-launchFlamesSpread: 127px;
    --shuttle-launchFlames: 50px;
    --shuttle-elevator: 77px;
    --shuttle-elevatorBot: -5px;
    --shuttle-launchDistance: -120px;
  }

  @media (max-width: 640px) {
    --focus-width: 386px;
    --mnt-width: 200%;
    --distance-multiplyer: 2.8;

    --hero-title: 1.75rem;
    --hero-devTitle: 2.35rem;
    --hero-devTitleLineHeight: 3rem;
    --hero-subtitle: 1.25rem;

    --shuttle-launch: 200px;
    --shuttle-launchFlamesSpread: 127px;
    --shuttle-launchFlames: 50px;
    --shuttle-elevator: 77px;
    --shuttle-elevatorBot: -5px;
    --shuttle-launchDistance: -120px;
  }

  @media (max-width: 480px) {
    --focus-width: 386px;
    --mnt-width: 200%;
    --distance-multiplyer: 3;

    --hero-title: 1.75rem;
    --hero-devTitle: 2.25rem;
    --hero-devTitleLineHeight: 3rem;
    --hero-subtitle: 1.25rem;

    --shuttle-launch: 200px;
    --shuttle-launchFlamesSpread: 127px;
    --shuttle-launchFlames: 31px;
    --shuttle-elevator: 77px;
    --shuttle-elevatorBot: -5px;
    --shuttle-launchDistance: -120px;
  }

  @media (max-width: 395px) {
    --hero-devTitle: 2.3rem;
  }

  @media (max-width: 375px) {
    --hero-devTitle: 2.2rem;
  }

  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #0d006a 0%, #000 77%) no-repeat;
  background-size: cover;

}